<ion-header>
    <ion-grid class="header" style="border-bottom: 1px solid #DFDFDF;padding: 0;">
        <ion-row>
            <ion-col align-self-center>
                <img class="logo" src="./assets/img/logo.png" alt="">
            </ion-col>
            <ion-col class="header__lang" align-self-center col-2>
                <p class="header__lang-item " [ngClass]="{'active': eng}" (click)="english()">EN</p>
                <p class="header__lang-item" [ngClass]="{'active': ar}" (click)="arabian()">AR</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="navbar" style="border-bottom: 1px solid #DFDFDF;">
        <ion-row>
            <ion-col class="navbar__item">
                <div class="active" (click)="scrollTo('main')">Home</div>
            </ion-col>
            <ion-col class="navbar__item">
                <div style="text-align: left;padding-left: 3.5vw;" (click)="scrollTo('heritage')">Heritage
                </div>
            </ion-col>
            <ion-col class="navbar__item" style="text-align: left">
                <div (click)="scrollTo('specification')">Specification</div>
            </ion-col>
            <ion-col class="navbar__item" style="text-align: left">
                <div (click)="scrollTo('footer')">Exterior&Interior</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content [scrollEvents]="true " (ionScroll)="onScroll($event)">

    <div class="main">
        <div class="block-text">
            <p *ngIf="eng" style="margin: 0">NEXO</p>
            <p *ngIf="ar" style="margin: 0;">نكسو</p>
        </div>
        <div class="blok2"></div>
        <div class="blok3"></div>
        <div class="blok1"></div>
    </div>
    <div class="white">
        <div class="second">
            <div class="arrow">
                <img class="arrow__img" src="../../assets/img/arrow.png" alt="">
            </div>
            <div class="second__item">
                <div class="second__title">
                    <p *ngIf="ar" style="    margin: 0;">الطريق نحو مستقبل أفضل
                    </p>
                    <p *ngIf="eng" style="    margin: 0;">Driving to a cleaner future</p>
                </div>
                <div class="center">
                    <div class="second__description">
                        <p *ngIf="ar">إن سيارة هيونداي نكسو الجديدة كلياً فريدة بالفعل ضمن السيارات العاملة بخلايا
                            الوقود، فهي تجمع أحدث التقنيات بتصميم مستقبلي جذاب ومدى قيادة رائع حقاً.</p>
                        <p *ngIf="eng">The All-New NEXO is a truly one-of-a-kind hydrogen fuel cell SUV that
                            combines cutting-edge technology
                            and futuristic design with fantastic driving range.</p>

                    </div>
                </div>
                <ion-grid class="second__block">
                    <ion-row>
                        <ion-col>
                            <div>
                                <img class="second__front-car" src="./assets/img/block_2/front.png" alt="">
                                <img (click)="showLeft()" class="plus-left" src="./assets/img/block_2/plus.png" alt="">
                            </div>
                        </ion-col>
                        <ion-col class="second__text">
                            <div class="second__text-title">
                                <p *ngIf="ar" style="margin-top: 0;">
                                    مستوحاة من الطبيعة
                                </p>
                                <p *ngIf="eng" style="margin-top: 0;">
                                    Inspired by nature
                                </p></div>
                            <div class="second__line"></div>
                            <div class="second__text-text">
                                <p *ngIf="ar">تم تصميم نكسو الجديدة كلياً لتلفت الأنظار وتتميز عن كل السيارات في فئتها
                                    بخطوطها الأيروديناميكية الأنيقة وشكلها الانسيابي المستوحى من تدفق المياه. </p>
                                <p *ngIf="eng"> With its clean aerodynamic lines,
                                    the All-New NEXO has been sculpted to stand out with a streamlined look that flows
                                    elegantly like water – its only emission.</p>
                            </div>
                        </ion-col>
                        <ion-col style="text-align: right;">
                            <img class="second__back-car" src="./assets/img/block_2/back.png">
                            <img (click)="showRight()" class="plus" src="./assets/img/block_2/plus.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div [@carLeft]="carleft" class="second__left-car">
                    <img (click)="closeLeft()" style="height: 4vw;position: absolute;top: 3.5vw;left: 1.6vw;"
                         src="./assets/img/block_2/Close.png">
                    <div>
                        <div class="car__title">Sleekly sculpted</div>
                        <div class="car__text">The All-New NEXO’s sleek
                            window line and floating roof
                            design add to the streamlined
                            look – expressive from
                            every angle.
                        </div>
                    </div>
                </div>
                <div [@carRight]="carRight" class="second__right-car">
                    <img (click)="closeRight()" style="height: 4vw;position: absolute;top: 3.5vw;right: 1.6vw;"
                         src="./assets/img/block_2/Close.png" alt="">
                    <div>
                        <div class="car__title-right">Pure form</div>
                        <div class="car__text-right">NEXO’s clean, progressive design
                            combines the very best of
                            aerodynamics, technology, and SUV
                            style into one impressively pure form.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="box arrow">
            <img class="arrow__img" src="../../assets/img/arrow-b.png" alt="">
        </div>
        <div class="delimeter"></div>
        <div class="heritage">
            <div class="heritage__title">
                <p *ngIf="eng" class="text">Heritage</p>
                <p *ngIf="ar" class="text">إرثنا</p>
            </div>
            <div class="center">
                <div class="heritage__text">
                    <p *ngIf="eng" class="text"> The All-New NEXO not only embodies Hyundai’s commitment to advanced
                        eco-friendly
                        vehicle development
                        –
                        it also reinforces the company’s leadership
                        in fuel cell electric vehicles (FCEV). Hyundai is a pioneer in fuel cell technology, beginning
                        R&D
                        for
                        it in 1998. And in 2013, we pioneered the
                        commercialisation of hydrogen fuel cell vehicles, bringing the ix35 Fuel Cell
                        to market. Hyundai became
                        the world's first carmaker with
                        a mass production hydrogen fuel cell vehicle – an unprecedented
                        endeavour in the automotive industry.</p>
                    <p *ngIf="ar" class="text">لا تمثل سيارة نكسو الجديدة كلياً التزام شركة هيونداي بتطوير السيارات
                        الحديثة الصديقة
                        للبيئة فقط، بل إنها تعزز أيضاً موقع الشركة القيادي في مجال السيارات الكهربائية العاملة بخلايا
                        الوقود.
                        تعد شركة هيونداي أحد رواد تكنولوجيا خلايا الوقود، حيث بدأت عمليات البحث والتطوير في عام 1998
                        لتقود الإنتاج التجاري للسيارات العاملة بخلايا الوقود في عام 2013 بطرحها سيارة ix35 Fuel Cell في
                        الأسواق، وتصبح بذلك أول مصنّع للسيارات في العالم يقوم بإنتاج السيارات العاملة بخلايا الوقود على
                        نطاق واسع – وهو مسعى رائد وغير مسبوق في عالم صناعة السيارات.
                    </p>

                </div>
            </div>

        </div>
        <ion-grid style="padding-top: 5.5vw;padding-bottom: 1.1vw;">
            <ion-row>
                <ion-col align-self-center>
                    <div class="center"><img class="heritage__img" src="./assets/img/block_3/first.png" alt=""></div>
                </ion-col>
                <ion-col align-self-center>
                    <div class="center"><img class="heritage__img" src="./assets/img/block_3/second.png" alt=""></div>
                </ion-col>
                <ion-col align-self-center>
                    <div class="center"><img class="heritage__img" src="./assets/img/block_3/third.png" alt=""></div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtitle">
                            <p *ngIf="eng" class="text">World’s 1st mass
                                production FCEV vehicle</p>
                            <p *ngIf="ar" class="text">أول مصنّع للسيارات العاملة بخلايا الوقود الهيدروجيني في
                                العالم</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtitle"><p *ngIf="eng" class="text">Most fuel cell <br>
                            vehicles sold</p>
                            <p *ngIf="ar" class="text">
                                أكبر مبيعات للسيارات العاملة بخلايا الوقود الهيدروجيني في العالم
                            </p>
                        </div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtitle">
                            <p *ngIf="eng" class="text">
                                Sustained commitment
                                to the environment
                            </p>
                            <p *ngIf="ar" class="text">التزام مستدام بسلامة البيئة</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtext"><p *ngIf="eng" class="text">In 2013, the ix35
                            Fuel Cell became
                            the world’s first mass-produced
                            hydrogen-powered vehicle.</p>
                            <p *ngIf="ar" class="text">في عام 2013 طرحنا سيارة ix35 Fuel Cell لتكون السيارة العاملة
                                بخلايا الوقود
                                الهيدروجيني الأولى في العالم التي يتم تصنيعها على نطاق تجاري واسع.</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtext"><p *ngIf="eng" class="text">As of 2017, 500 Hyundai fuel cell
                            vehicles have
                            been registered
                            in
                            Europe. That is more than
                            all
                            other brands combined. Hyundai sells them in 18 countries around the world, 13 of which are
                            in
                            Europe.</p>
                            <p *ngIf="ar" class="text">في عام 2013 وصل عدد سيارات هيونداي العاملة بخلايا الوقود المسجلة
                                في أوروبا 500
                                سيارة، وهو رقم أكبر من كافة مبيعات الشركات الأخرى مجتمعة. تقوم هيونداي حالياً ببيع
                                سياراتها العاملة بخلايا الوقود الهيدروجيني في 118 دولة، منها 13 في القارة الأوروبية.</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="container-sub">
                        <div class="heritage__subtext">
                            <p *ngIf="eng" class="text">Hyundai Motor Company has been dedicated to the development of
                                Fuel
                                Cell Vehicles since 1998.
                                We
                                are committed to fully playing our role as the global brand leader in eco-friendly
                                technology.</p>
                            <p *ngIf="ar" class="text">بدأت شركة هيونداي للسيارات التزامها بتطوير السيارات العاملة
                                بخلايا الوقود في
                                عام 1998، ونحن ملتزمون بلعب دورنا كشركة السيارات الأولى عالمياً في تطوير التكنولوجيا
                                الصديقة للبيئة.</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    <div class="car-third">
    </div>
    <div class="car-four">
        <div class="arrow">
            <img class="arrow__img" src="./assets/img/arrow.png">
        </div>
        <div class="line-left"></div>
        <div style="position: relative;height: 105vw;">
            <div class="slide-car" (scroll)="onScrollY($event)">

                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <div class="delimeter-year-top"></div>
                        <div class="slide-car__year">1998</div>
                        <div class="slide-car__title"><p *ngIf="eng" class="text">Launch of fuel cell development</p>
                            <p *ngIf="ar" class="text">إطلاق برنامج تطوير <br> خلايا الوقود</p></div>
                        <div class="slide-car__description bottom">
                            <p *ngIf="eng" class="text"> Hyundai Motor has been at the forefront of hydrogen vehicle
                                development
                                for over two
                                decades
                                now.
                                The company launched R&D
                                for fuel cell technology <br>
                                in 1998.</p>

                            <p *ngIf="ar" class="ar" class="text">إطلاق برنامج تطوير خلايا الوقود
                                ما زالت شركة هيونداي للسيارات في مركز الصدارة لتطوير السيارات العاملة بخلايا الوقود
                                لأكثر من عقدين من الزمن، حيث أطلقت برنامجها للبحث وتطوير تكنولوجيا خلايا الوقود في عام
                                1998.</p>
                        </div>
                        <img style="padding-top: 1vw" src="./assets/img/block_4/1.png">
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <img class="top-image" src="./assets/img/block_4/2.png">
                        <div class="slide-car__year  top">2002</div>
                        <div class="delimeter-year-bottom"></div>
                        <div class="slide-car__title"><p *ngIf="eng" class="text">75kW Santa Fe FCEV</p>
                            <p *ngIf="ar">سانتافيه العاملة بخلايا الوقود بقدرة 75 كيلوواط</p></div>
                        <div class="slide-car__description">

                            <ul *ngIf="eng" style="padding: 0 0 0 2vw;margin: 0;" class="text">
                                <li>Base model: Santa Fe SM</li>
                                <li> Operating range: 230 km</li>
                                <li> Fuel cell power output: 75 kW</li>
                                <li> Note: Inclusion of battery pack for
                                    improved range and efficiency.
                                </li>
                            </ul>
                            <ul *ngIf="ar" style="padding: 0 0 0 2vw;margin: 0;">
                                <li>الموديل الأساسي: سانتافيه SM</li>
                                <li> مدى القيادة: 230 كم</li>
                                <li> القدرة الكهربائية لخلية الوقود: 75 كيلوواط</li>
                                <li> ملاحظة: تتضمن السيارة بطارية إضافية لتحسين مدى القيادة والكفاءة.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top bottom-image" style="padding-top: 12% !important;">
                        <div class="delimeter-year-top"></div>
                        <div class="slide-car__year">2004</div>
                        <div class="slide-car__title"><p *ngIf="eng" class="text">80kW Tucson FCEV</p>
                            <p *ngIf="ar" class="text">توسون العاملة بخلايا الوقود بقدرة 80 كيلوواط</p></div>
                        <div class="slide-car__description bottom" [style.height.vw]="ar ? '14' : '18'">
                            <p *ngIf="eng" class="text">US DOE FCEV demonstration
                                [2004-2009]

                                Hyundai also participated in the
                                North America FCEV demonstration
                                program led by the U.S. Department
                                of
                                Energy between 2004 and 2009.</p>
                            <p *ngIf="ar" class="text" >
                                شاركت هيونداي أيضاً بالبرنامج التجريبي في أمريكا الشمالية للسيارات العاملة بخلايا الوقود
                                الذي قادته وزارة الطاقة الأمريكية بين عامي 2004 و 2009.
                            </p>
                        </div>
                        <img src="./assets/img/block_4/3.png">
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <img class="top-image" src="./assets/img/block_4/4.png">
                        <div class="slide-car__year top">2006</div>
                        <div class="delimeter-year-bottom"></div>
                        <div class="slide-car__title">1st Generation fuel cell bus</div>
                        <div class="slide-car__description ">Hyundai has been operating an
                            FCEV demonstration program in
                            collaboration with the Korean
                            government since 2006.
                            <ul style="padding: 1vw 0 0 2vw;margin: 0;">
                                <li> Bus operating range: 380 km</li>
                                <li> Fuel cell power output: 160 kW</li>
                                <li>Note: Operated in Germany during
                                    the World Cup
                                    2006.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top bottom-image">
                        <div class="delimeter-year-top"></div>
                        <div class="slide-car__year">2007</div>
                        <div class="slide-car__title">100kW Tucson FCEV</div>
                        <div class="slide-car__description bottom">
                            Further development of FCEV
                            powertrain.
                            <ul style="padding: 1vw 0 0 2vw;margin: 0;">
                                <li>Operating range: 370 km</li>
                                <li> Fuel cell power output: 100 kW</li>
                                <li>Note: Equipped with Hyundai's
                                    in-house developed
                                    electric drivetrain.
                                </li>
                            </ul>
                        </div>
                        <img src="./assets/img/block_4/5.png">
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <img class="top-image" src="./assets/img/block_4/6.png">
                        <div class="slide-car__year top">2009</div>
                        <div class="delimeter-year-bottom"></div>
                        <div class="slide-car__title">2nd Generation fuel cell bus</div>
                        <div class="slide-car__description ">
                            The FCEV demonstration program was
                            launched in 2009 in Korea, in Seoul
                            and Ulsan and was successfully
                            completed in 2013.
                            <ul style="padding: 1vw 0 0 2vw;margin: 0;">
                                <li> Operating range: 380 km</li>
                                <li>Fuel cell power output: 200 kW</li>
                                <li>
                                    Note: Operated in Korea during the
                                    Yeosu Expo 2012.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top bottom-image">
                        <div class="delimeter-year-top"></div>
                        <div class="slide-car__year">2013</div>
                        <div class="slide-car__title">100kw ix35 FCEV</div>
                        <div class="slide-car__description bottom">
                            World’s 1st Mass- produced FCEV.
                            <ul style="padding: 1vw 0 0 2vw;margin: 0;">
                                <li>Operating range: 594 km (NEDC)</li>
                                <li>
                                    Fuel cell power output: 100 kW.
                                </li>
                            </ul>
                        </div>
                        <img src="./assets/img/block_4/7.png">
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <img class="top-image" src="./assets/img/block_4/8.png">
                        <div class="slide-car__year top">2015</div>
                        <div class="delimeter-year-bottom"></div>
                        <div class="slide-car__title">Intrado fuel cell concept</div>
                        <div class="slide-car__description ">
                            The Hyundai Intrado concept car
                            premiered at the 2014 Geneva
                            Motor Show. The SUV/crossover has
                            a
                            carbon-fibre central structure and
                            utilises a Li-ion 36 kW battery.
                            <ul style="padding: 1vw 0 0 2vw;margin: 0;">
                                <li>Operating range: 600 km.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <div class="delimeter-year-top"></div>
                        <div class="slide-car__year">2017</div>
                        <div class="slide-car__title">The FE Concept</div>
                        <div class="slide-car__description bottom">
                            The FE Concept showcases Hyundai
                            Motor’s 4th generation hydrogen fuel
                            cell technology, an evolution of
                            research, development and real-world
                            evaluation programs around the world.
                            Supports the Icelandic
                            H2ME Initiative.
                        </div>
                        <img style="padding-top:4vw;" src="./assets/img/block_4/9.png">
                    </div>
                </div>
                <div class="slide-car__item-top">
                    <div class="slide-car__item-top">
                        <img class="top-image" src="./assets/img/block_4/10.png">
                        <div class="slide-car__year top">2018</div>
                        <div class="delimeter-year-bottom"></div>
                        <div class="slide-car__title">Launch of 2nd-gen FCEV, NEXO</div>
                        <div class="slide-car__description ">
                            <p>
                                The NEXO Fuel Cell SUV delivers the
                                world’s best fuel cell efficiency and
                                a driving range of 666 km (WLTP).
                                Its dedicated vehicle architecture
                                delivers improved power-to-weight
                                ratio, faster acceleration and cabin
                                space.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="bar">
                <div class="bar__line"></div>
                <div class="bar__arrows" [style.left]="sliderHistory + 'vw'"><img class="bar__img"
                                                                                  src="./assets/img/polz.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container table">
        <div class="arrow" style="    padding-bottom: 0;">
            <img class="arrow__img" src="../../assets/img/arrow-b.png" alt="">
        </div>
        <div class="delimeter container"></div>
        <div class="specification">
            <div class="specification__title">
                Specification
            </div>
        </div>
        <ion-grid style="padding-bottom: 50px;">
            <ion-row>
                <ion-col class="text__select" align-self-center>Choose a trim</ion-col>
                <ion-col size="6" align-self-center style="    border: 0.1vw solid;
    padding: 0;
    height: 4vw;">
                    <div style="
    font-size: 1.6vw;
    padding-left: 1vw;
    padding-top: 1vw;">{{currentInch.title}}
                    </div>
                    <div (click)="show()"
                         style="
    background: #DFDFDF;
    height: 3.7vw;
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;"><img style="max-width: 30%;
    margin-bottom: -0.7vw;
    margin-left: 1.3vw;" src="./assets/img/arrows.png" alt=""></div>
                    <div class="option-list" [style.display]="select?'block':'none'">
                        <div class="option" data-select-val="0" (click)="selectInch17()">FCEV powertrain (17-inch
                            wheels)
                        </div>
                        <div class="option" data-select-val="1" (click)="selectInch19()">FCEV powertrain (19-inch
                            wheels)
                        </div>
                    </div>
                </ion-col>
                <ion-col class="text__select" style="font-family: Hyndai-Regular" align-self-center>
                    <div style="height: 2.5vw;
    background: black;
    display: inline-block;
    width: 3vw;"><img style="width: 50%" src="./assets/img/vector.png" alt="">
                    </div>
                    <div style="    display: inline-block;
    padding-left: 2vw;
    font-size: 1.5vw;" (click)="expendAll()">Expand all
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="spec_overview center">
            <div class="spec_table" style="height: auto;">
                <table>
                    <tbody>
                    <tr>
                        <th class="type" rowspan="7">Overview</th>
                        <th>Category</th>
                        <td>Eco</td>
                    </tr>
                    <tr>
                        <th>Model Name</th>
                        <td>Nexo</td>
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>EUROPE (K4)</td>
                    </tr>
                    <tr>
                        <th>Body Type</th>
                        <td>5 Door</td>
                    </tr>
                    <tr>
                        <th>LHD/RHD</th>
                        <td>LHD</td>
                    </tr>
                    <tr>
                        <th>Seats</th>
                        <td>5</td>
                    </tr>
                    <tr>
                        <th>Model Year</th>
                        <td>2018</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center">
            <div class="performance_title" (click)="showPerfomace()">
                <a [ngClass]="{'on': perfomance}">Performance</a>
            </div>
        </div>
        <div class="center">
            <div class="spec_table" [style.height]="perfomance ? 'auto':'1px'">
                <table>
                    <tbody>
                    <tr>
                        <th class="type" rowspan="7">Front Mounted Induction Motor</th>
                        <th>Max. Power(Kw)</th>
                        <td>120</td>
                    </tr>
                    <tr>
                        <th>Max. Torque (Nm)</th>
                        <td>395</td>
                    </tr>
                    <tr>
                        <th><p class="text" *ngIf="eng">Max. Speed (kph)</p>
                            <p class="text" *ngIf="ar">السرعة القصوى 179 كم/سا</p></th>
                        <td>{{currentInch.maxSpeed}}</td>
                    </tr>
                    <tr>
                        <th><p class="text" *ngIf="eng">Acceleration (0 - 100 kph)</p>
                            <p class="text" *ngIf="ar">التسارع (0 – 100 كم/سا) 9.2 ثانية</p>
                        </th>
                        <td>{{currentInch.acceleration}}</td>
                    </tr>
                    <tr>
                        <th>Braking Distance (m(100-0kph))</th>
                        <td>{{currentInch.brakingDistance}}</td>
                    </tr>
                    <tr>
                        <th>Motor Type</th>
                        <td>PERMANENT MAGNET SYNCHRONOUS MOTOR(PMSM)</td>
                    </tr>
                    <tr>
                        <th>Electric Motor power output (kW)</th>
                        <td>120</td>
                    </tr>
                    <tr>
                        <th class="type" rowspan="3">Battery</th>
                        <th>Type</th>
                        <td>Lithium Polymer</td>
                    </tr>
                    <tr>
                        <th>Capacity (kWh)</th>
                        <td>1.56</td>
                    </tr>
                    <tr>
                        <th>Power Output (kW)</th>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th class="type" rowspan="2">Transmission</th>
                        <th>Transmission Type Label</th>
                        <td>Single speed reduction gear</td>
                    </tr>
                    <tr>
                        <th>Drive Type</th>
                        <td>FWD</td>
                    </tr>
                    <tr>
                        <th class="type" rowspan="8">Fuel Consumption</th>
                        <th>Fuel Type</th>
                        <td>Hydrogen</td>
                    </tr>
                    <tr>
                        <th>Fuel Economy (Low) (kg / 100km)</th>
                        <td>0.81</td>
                    </tr>
                    <tr>
                        <th>Fuel Economy (Medium) (kg / 100km)</th>
                        <td>0.83</td>
                    </tr>
                    <tr>
                        <th>Fuel Economy (High) (kg / 100km)</th>
                        <td>0.83</td>
                    </tr>
                    <tr>
                        <th>Fuel Economy (Ex-High) (kg / 100km)</th>
                        <td>1.19</td>
                    </tr>
                    <tr>
                        <th>Fuel Economy (Comb) (kg / 100km)</th>
                        <td>0.95</td>
                    </tr>
                    <tr>
                        <th>CO2 emission (g/km)</th>
                        <td>Water vapor only</td>
                    </tr>
                    <tr>
                        <th>Hydrogen Tank Capacity (liter)</th>
                        <td>156.6</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center">
            <div class="dimension__title" (click)="showDimension()">
                <a [ngClass]="{'on': dimension}">Dimension</a>
            </div>
        </div>
        <div class="center">
            <div class="spec_table" [style.height]="dimension ? 'auto' : '1px'">
                <table>
                    <tbody>
                    <tr>
                        <th class="type" rowspan="8">Exterior</th>
                        <th>Overall Length (mm)</th>
                        <td>4,670</td>
                    </tr>
                    <tr>
                        <th>Overall Width (mm)</th>
                        <td>1,860</td>
                    </tr>
                    <tr>
                        <th>Overall Height (mm)</th>
                        <td>1,630 / 1,640</td>
                    </tr>
                    <tr>
                        <th>Wheel Base (mm)</th>
                        <td>2,790</td>
                    </tr>
                    <tr>
                        <th>Front Wheel Tread (mm)</th>
                        <td>{{currentInch.frontWheel}}</td>
                    </tr>
                    <tr>
                        <th>Rear Wheel Tread (mm)</th>
                        <td>{{currentInch.rearWheel}}</td>
                    </tr>
                    <tr>
                        <th>Front Over hang (mm)</th>
                        <td>960</td>
                    </tr>
                    <tr>
                        <th>Rear Over hang (mm)</th>
                        <td>920</td>
                    </tr>
                    <tr>
                        <th class="type">Cargo</th>
                        <th>Cargo Area(VDA) (liter)</th>
                        <td>461 / 1,466</td>
                    </tr>

                    <tr>
                        <th class="type" rowspan="3">Weight</th>
                        <th>Curb Weight (Lightest) (kg)</th>
                        <td>1,814</td>
                    </tr>
                    <tr>
                        <th>Curb Weight (Heaviest) (kg)</th>
                        <td>1,873</td>
                    </tr>
                    <tr>
                        <th>Gross Vehicle Weight (kg)</th>
                        <td>2,340</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center">
            <div class="wheel__title" (click)="showWheel()">
                <a [ngClass]="{'on': wheel}">Wheel</a>
            </div>
        </div>
        <div class="center">
            <div class="spec_table" [style.height]="wheel ? 'auto' : '1px'">
                <table>
                    <tbody>
                    <tr>
                        <th class="type" rowspan="4">Wheels &amp; Tires</th>
                        <th>Front Wheels</th>
                        <td>{{currentInch.frontWheels}}</td>
                    </tr>
                    <tr>
                        <th>Rear Wheels</th>
                        <td>{{currentInch.rearWheels}}</td>
                    </tr>
                    <tr>
                        <th>Front Tires</th>
                        <td>{{currentInch.frontTires}}</td>
                    </tr>
                    <tr>
                        <th>Rear Tires</th>
                        <td>{{currentInch.rearTires}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="message">
            <img src="./assets/img/icon_message.png" alt="">
            "Images and information posted on the above may differ from region to region. All information and
            illustrations are based on data available
            at the time of publication and subject to change without notice. Please visit your country homepage for more
            information."
        </div>
    </div>
    <div class="footer">
        <div class="arrow">
            <img class="arrow__img" src="../../assets/img/arrow.png" alt="">
        </div>
        <div *ngIf="fullScreen" class="galery">
            <div style="    position: fixed;
    left: 3vw;
          top: 18vw;

    width: 20%;"><img src="./assets/img/footer/galery_logo.png" alt=""></div>
            <div style="    position: fixed;
    left: 2vw;
       top: 65vw;
    width: 10%;    z-index: 100;" (click)="prevSlide()"><img src="./assets/img/footer/left.png" alt=""></div>
            <div style="position: fixed;
    right: 2vw;
        top: 65vw;
    width: 10%;    z-index: 100;" (click)="nextSlide()"><img src="./assets/img/footer/right.png" alt=""></div>

            <div style="    position: fixed;
    right: 2vw;
            top: 18vw;
" (click)="closeFull()"><img style="max-width: 10vw;" src="./assets/img/block_2/Close.png" alt=""></div>
            <div style="padding-top: 40%">
                <ion-slides loop="true" zoom="true" style="background-color: black">
                    <ion-slide zoom="true" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                        <img data-src="./assets/img/slide/{{image}}.jpg">
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <div class="current-car" [style.background]="url">
            <div class="fullscreen" (click)="full()">
                <img style="    position: absolute;
    top: 60vw;
    right: 4vw;
    max-width: 6%;" src="./assets/img/footer/full.png" alt="">
            </div>
        </div>
        <div style="height: 20%">
            <div class="footer__slider" (scroll)="onScrollGallery($event)">
                <div class="footer__slider-item active-slide" (click)="getImage('hw124330_2.png')">
                    <img src="./assets/img/footer/hw124330_2.png" alt="">
                </div>
                <div class="footer__slider-item" (click)="getImage('hw124331.png')">
                    <img src="./assets/img/footer/hw124331.png" alt="">
                </div>
                <div class="footer__slider-item" (click)="getImage('hw124332.png')">
                    <img src="./assets/img/footer/hw124332.png" alt="">
                </div>
                <div class="footer__slider-item" (click)="getImage('hw124333.png')">
                    <img src="./assets/img/footer/hw124333.png" alt="">
                </div>
                <div class="footer__slider-item" (click)="getImage('hw124334.png')">
                    <img src="./assets/img/footer/hw124334.png" alt="">
                </div>
                <div class="footer__slider-item" (click)="getImage('hw124335.png')">
                    <img src="./assets/img/footer/hw124335.png" alt="">
                </div>
            </div>
        </div>
        <div class="center">
            <div class="bar">
                <div class="bar__line"></div>
                <div class="bar__arrows" [style.left]="sliderGallery + 'vw'"><img class="bar__img"
                                                                                  src="./assets/img/polz.png" alt="">
                </div>
            </div>
        </div>
    </div>
</ion-content>
